.notification__item--bridge-success{
    background: #23213B !important;
    border-left: 10px solid #00E4A2 !important;
    color: #EFD0FF !important;
}

.notification__item--bridge-error{
    background: #23213B !important;
    border-left: 10px solid #eb004e !important;
    color: #EFD0FF !important;
}
