@use "sass:map";

$hpurple: #7a0fff;
$hblue: #46bdf4;
$hdarkblue: #0B0C22;
$hdarkblue2: #10122D;
$hdeepblue: #04091A;
$hblack: #000;
$hwhite: #fff;

$hgra1: linear-gradient(90deg, $hpurple 0%, $hblue 100%);
$hgra2: linear-gradient(0deg, $hdarkblue 0%, $hdarkblue2 100%);

$hcolors: (
    hpurple: $hpurple,
    hblue: $hblue,
    hdarkblue: $hdarkblue,
    hblack: $hblack,
    hwhite: $hwhite,
    hdeepblue: $hdeepblue,
);

$hgras: (
    hgra1: $hgra1,
    hgra2: $hgra2,
);
