@use 'sass:map';

$hpurple: #7a0fff;
$hblue: #46bdf4;
$hdarkblue: #0b0c22;
$hdarkblue2: #10122d;
$hdeepblue: #04091a;
$hdarkpurple: #110b2f;
$hblack: #000;
$hwhite: #fff;

$hgra1: linear-gradient(90deg, $hpurple 0%, $hblue 100%);
$hgra2: linear-gradient(0deg, $hdarkblue2 0%, $hdarkblue 100%);

$hcolors: (
    hpurple: $hpurple,
    hblue: $hblue,
    hdarkblue: $hdarkblue,
    hblack: $hblack,
    hwhite: $hwhite,
    hdeepblue: $hdeepblue,
    hdarkpurple: $hdarkpurple,
);

$hgras: (
    hgra1: $hgra1,
    hgra2: $hgra2,
);

$z-index-glasspanel: 1000;
$modal-content-width: 1000px;
